server_addr         10.208.130.30
server_port         1200
server_buffer_size  10737418240      # 10G
client_buffer_size  536870912
# client_buffer_size  33554432        # 32M
evict_batch_size    65536           # 64K
qp_count            8
# qp_send_cap         8
# qp_recv_cap         16
max_thread_cnt      8
evacuate_thread_cnt 8
